*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#num1{
    width: 250px;
    height: 40px;
    border-width: 0.5px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-left: 10px;
    padding: 10px;
}
#num2{
    width: 250px;
    height: 35px;
    border-width: 0.5px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-left: 10px;
    padding: 10px;
}
#num3{
    width: 250px;
    height: 35px;
    border-width: 0.5px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-left: 10px;
    padding: 10px;
}
#num4{
    width: 250px;
    height: 35px;
    border-width: 0.5px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-left: 10px;
    padding: 10px;
}
.pgame{
    font-size: 4rem;
    color: #F6E207;
    letter-spacing: 2px;
    font-weight: bolder;
    
}
.s24{
    font-weight: bolder;
    color: #D2D0FB;
    font-size: 3.5rem ;
   margin-left: 10px;
}

#message{
    font-weight: bolder;
}





.d-1{
display: flex;
align-items: center;
/* border: 1px solid; */
}